<h1><%= @user.name %></h1>
<p><a href="/users/<%=@user.id%>/edit">Edit Profile</a> | <a href="/secrets">View All Secrets</a></p>

<!-- <p>My Secrets</p> -->
<% if @user.secrets %>
	<% @user.secrets.each do |s| %>	
		<%= s.content  %>     
		<p><%= s.likes.count  %> likes</p>

			<form method="post" action="/secrets/<%= s.id %>">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden"name="_method" value="delete">
				<input type="submit" value = "Delete" name="Delete">
			</form>
	<%end 
end %>

<%= flash[:errors] %>
<h2> Add New Secret </h2>
<form action="/secrets/<%= @user.id %>" method="post">
<textarea name="content" placeholder="New Secret"></textarea>
<input type="submit" value="Create Secret">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>